
/** Normalization
*/
* {
    box-sizing: border-box;
}


/** Default colors
*/
:root {
    --jolt-color-button: white;
    --jolt-color-button-bg: #7E92A9;
    --jolt-color-button-bg-hover: #9DACBD;
    --jolt-color-listview: black;
    --jolt-color-listview-bg: white;
    --jolt-color-listview-bg-item-hover: #eeeeee;
    --jolt-color-listview-bg-item-selected: #dddddd;
    --jolt-color-textbox: black;
    --jolt-color-textbox-bg: white;
    --jolt-color-textbox-border: #808080;
    --jolt-color-textbox-disabled-bg: #e0e0e0;
    --jolt-color-textbox-validation-error: red;
}


/** Controls -> Button
*/
.Jolt-Controls-Button {
    background-color: var(--jolt-color-button-bg);
    border: 1px solid;
    color: var(--jolt-color-button);
    cursor: pointer;
    display: inline-block;
    filter: unset;
    overflow: hidden;
    padding: 8px 16px 8px 16px;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: unset;
    white-space: normal;
}

.Jolt-Controls-Button:hover {
    background-color: var(--jolt-color-button-bg-hover);
}

.Jolt-Controls-Button.Disabled {
    cursor: unset;
    filter: grayscale(100%);
}

.Jolt-Controls-Button.InProgress {
    cursor: wait;
}

.Jolt-Controls-Button.InProgress img {
    height: 100%;
}

.Jolt-Controls-Button-Image {
    display: inline-block;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 1em;
}

.Jolt-Controls-Button-Text {
    display: inline-block;
    vertical-align: middle;
}


/** Controls -> Label
*/
.Jolt-Controls-Label {
    display: inline-block;
}


/** Controls -> ListView
*/
.Jolt-Controls-ListView {
    overflow: hidden;
    background-color: var(--jolt-color-listview-bg);
}

.Jolt-Controls-ListView-Items {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.Jolt-Controls-ListView-TextContent {
    color: var(--jolt-color-listview);
}

.Jolt-Controls-ListViewItem {
    cursor: pointer;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 1em 0.5em 1em 0.5em;
}

.Jolt-Controls-ListViewItem.Selected {
    background-color: var(--jolt-color-listview-bg-item-selected);
    cursor: unset;
}

.Jolt-Controls-ListViewItem:hover:not(.Selected) {
    background-color: var(--jolt-color-listview-bg-item-hover);
}


/** Controls -> TextBox
*/
.Jolt-Controls-TextBox {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.Jolt-Controls-TextBox > input {
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%;
}

.Jolt-Controls-TextBox > input:disabled {
    background: #a5a5a7;
}

.Jolt-Controls-TextBox > input:focus {
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
    transition: all 0.30s ease-in-out;
}

.Jolt-Controls-TextBox.ValidateError input:focus {
    box-shadow: 0 0 8px #F7462d;
    border: 1px solid #F7462d;
}

.Jolt-Controls-TextBox.ValidateError input:not(:focus) {
    background: #c53824;
    color: white;
    transition: all 0.30s ease-in-out;
}

.Jolt-Controls-TextBox > textarea {
    background: var(--jolt-color-textbox-bg);
    border: 1px solid black;
    border-color: var(--jolt-color-textbox-border);
    box-sizing: border-box;
    color: var(--jolt-color-textbox);
    height: 5em;
    min-height: 2em;
    min-width: 100%;
    max-height: unset;
    max-width: 100%;
    width: 100%;
}

.Jolt-Controls-TextBox > textarea:focus {
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
    transition: all 0.30s ease-in-out;
}

.Jolt-Controls-TextBox > textarea:disabled {
    background-color: var(--jolt-color-textbox-disabled-bg);
}

.Jolt-Controls-TextBox > .Jolt-Controls-TextBox-ValidateErrorLabel {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--jolt-color-textbox-validation-error);
}
